.search__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 0 70px;
    @media (max-width: 526px){
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        gap: 25px;
    }
}

.header__input__search{
    max-width: 814px;
    width: 100%;
    height: 60px;
    background: #899878c9;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    &::placeholder{
        color: rgba(255, 255, 255, 0.8);
    }
}


.header__btn__search{
    height: 60px;
    max-width: 180px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: rgb(246, 82, 96);
    color: #F7F7F2;
    font-size: 18px;
    text-transform: uppercase;
    &:hover{
        transition: all .7s ease;
        background: rgb(250, 45, 62);
        cursor: pointer;
    }
    @media (max-width: 768px){
        max-width: 130px;
    }
    @media (max-width: 426px){
        max-width: 110px;
        height: 55px;
        font-size: 16px;
    }
}