@import '../../variables';


.main__wrapper {
    background-color: #ea2035;
    display: flex;
    padding: 30px 14%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    color: $main-white-color;
    min-height: 300px;
}